* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    overflow-y: auto;
    font-family: 'Karla', sans-serif;
}

img {
    width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}